@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

body {
    font-family: Montserrat;
    color: #252B42;
    font-weight: 500;
    background-color: #FAFAFA;
}

._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.header-block {
    text-align: center;
    letter-spacing: 0.2px;

    .header-block__title {
        font-size: 40px;
        line-height: 142%;
        font-weight: 700;

        &:not(:last-child) {
            margin: 0 0 10px 0;
        }

        @media (max-width: 992px) {
            & {
                font-size: 35px;
            }
        }

        @media (max-width: 767px) {
            & {
                font-size: 30px;
            }
        }
    }

    .header-block__subtitle {
        color: #737373;
        line-height: 142%;
        font-weight: 500;
    }
}

//------------ШАПКА----------------------------------------------------------------//
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    &__container {
        display: flex;
        min-height: 104px;
        align-items: center;

        @media (max-width: 479px) {
            & {
                min-height: 70px;
            }
        }
    }

    &__logo {
        font-size: 24px;
        font-weight: 700;
        color: inherit;
    }

    &__menu {
        margin: 0 0 0 133px;

        @media (max-width: 992px) {
            & {
                margin: 0 0 0 80px;
            }
        }

        @media (max-width: 767px) {
            & {
                margin: 0 0 0 40px;
            }
        }

        @media (max-width: 479px) {
            & {
                margin: 0 0 0 20px;
            }
        }
    }

    .menu {
        padding: 0 5px;

        &__list {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {}

        &__item:not(:last-child) {
            margin: 0 21px 0 0;
        }

        &__link {
            color: #737373;
            line-height: 171%;
            font-weight: 600;

            @media (max-width: 479px) {
                & {
                    font-size: 18px;
                }
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//------------Page----------------------------------------------------------------//
.page {
    flex: 1 1 auto;
}

//------------Мэйн-блок----------------------------------------------------------------//

.page__main-block {

    .main-block {
        position: relative;

        &__container {}

        &__body {
            padding: 184px 0 191px 0;
            position: relative;
            z-index: 2;
            max-width: 400px;

            &>*:not(:last-child) {
                margin: 0 0 35px 0;
            }

            @media (max-width: 992px) {
                & {
                    padding: 115px 0 160px 0;
                }
            }
        }

        &__title {
            font-size: 58px;
            line-height: 80/58*100%;
            font-weight: 800;
            letter-spacing: 0.2px;

            @media (max-width: 992px) {
                & {
                    font-size: 42px;
                }
            }
        }

        &__text {
            color: #737373;
            font-size: 20px;
            line-height: 1.5;

            @media (max-width: 992px) {
                & {
                    color: #444444;
                }
            }
        }

        &__buttons {
            display: flex;
            flex-wrap: wrap;
            margin: -10px 0;
        }

        &__button {

            border-radius: 37px;
            min-height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 36px;
            letter-spacing: 0.2px;

            font-weight: 700;
            line-height: 150%;
            margin: 10px 0;

            transition: all 0.3s ease 0s;

            @media (min-width: 479px) {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }


            @media (max-width: 479px) {
                flex: 1 1 100%;
            }
        }

        &__button_orange {
            background: #FF7B47;
            color: #fff;

            &:hover {
                background: #fff;
                color: #FF7B47;
            }
        }

        &__button_border {
            color: #0D5C63;
            border: 1px solid #0D5C63;

            &:hover {
                background: #0D5C63;
                color: #fff;
            }
        }

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            @media (max-width: 1300px) {
                & img {
                    object-position: right;
                }
            }

            @media (max-width: 992px) {
                & img {
                    opacity: 0.5;
                }
            }
        }
    }
}

//------------Сервисы----------------------------------------------------------------//
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0;

    .services {

        &__container {}

        &__body {

            @media (min-width: 670px) {
                & {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -15px -30px;
                }
            }
        }

        &__column {

            flex: 0 1 33.333%;
            margin: 0 0 30px 0;

            @media (min-width: 670px) {
                & {
                    padding: 0 15px;
                }
            }

            @media (max-width: 992px) {
                & {
                    flex: 0 1 50%;
                }

                &:last-child {
                    flex: 1 1 100%;
                }
            }
        }

        &__item {
            box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
            background-color: #fff;
            padding: 35px 40px;
            height: 100%;
        }
    }

    .item-service {
        &>*:not(:last-child) {
            margin: 0 0 10px 0;
        }

        &__icon {}

        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 133%;
            letter-spacing: 0.1px;
        }

        &__text {
            color: #737373;
            line-height: 142%;
        }

        &_green {
            background-color: #0D5C63;

            & .item-service__title {
                color: #fff;
            }

            & .item-service__text {
                color: #fff;
            }
        }
    }
}

//------------ADVANTAGED----------------------------------------------------------------//
.page__advantages {}

.advantages {
    padding: 80px 0;

    @media (max-width: 992px) {
        & {
            padding: 50px 0;
        }
    }

    @media (max-width: 767px) {
        & {
            padding: 30px 0;
        }
    }

    &__container {}

    &__header {
        margin: 0 0 50px 0;

        @media (max-width: 767px) {
            & {
                margin: 0 0 25px 0;
            }
        }
    }

    &__body {
        display: flex;
        margin: 0 -15px -30px;
        flex-wrap: wrap;
    }

    &__column {
        padding: 0 15px;
        flex: 0 1 25%;
        margin: 0 0 30px 0;

        @media (max-width: 1020px) {
            & {
                flex: 0 1 50%;
            }
        }

        @media (max-width: 560px) {
            & {
                flex: 0 1 100%;
            }
        }
    }

    &__item {
        background-color: #fff;
        padding: 30px;
        text-align: center;
        font-weight: 700;

        &>*:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    &__icon {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__value {
        font-size: 40px;
        line-height: 142%;
    }

    &__text {
        color: #737373;
        font-size: 16px;
        line-height: 150%;
    }
}

//------------PRACTICE----------------------------------------------------------------//
.page__practice {}

.practice {
    padding: 125px 0 80px 0;

    @media (max-width: 993px) {
        padding: 40px 0 80px 0;
    }

    @media (max-width: 767px) {
        padding: 0px 0 40px 0;
    }

    &__container {}

    &__header {
        margin: 0 0 45px 0;

        @media (max-width: 767px) {
            margin: 0px 0 25px 0;
        }
    }

    &__body {
        margin: 0 -20px -30px;
        display: flex;
        flex-wrap: wrap;
    }

    &__column {
        padding: 0 20px;
        flex: 0 1 25%;
        margin: 0 0 30px 0;

        @media (max-width: 1040px) {
            flex: 0 1 50%;
        }

        @media (max-width: 630px) {
            flex: 0 1 100%;
        }
    }

    &__item {
        background-color: #fff;
    }
}

.item-practice {

    display: flex;
    flex-direction: column;
    height: 100%;

    &__content {
        padding: 30px;
        flex: 1 1 auto;
    }

    &__link {
        color: inherit;
        display: inline-block;

        &:not(:last-child) {
            margin: 0 0 15px 0;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        letter-spacing: 0.1px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 700;
    }

    &__text {
        color: #737373;
        line-height: 142%;
    }

    &__image {
        display: block;
        padding: 0 0 60% 0;
    }
}

//------------WHOWEARE----------------------------------------------------------------//
.page__whoweare {}

.whoweare {
    padding: 80px 0 130px 0;
    background-color: #fff;

    @media (max-width: 950px) {
        padding: 50px 0 50px 0;
    }

    @media (max-width: 767px) {
        padding: 20px 0 50px 0;
    }

    &__container {}

    &__header {
        margin: 0 0 100px 0;

        @media (max-width: 950px) {
            margin: 0 0 30px 0;
        }
    }

    &__body {
        display: flex;
        align-items: flex-start;

        @media (max-width: 950px) {
            flex-direction: column-reverse;
            align-items: stretch;


        }
    }

    &__video {
        flex: 0 0 57%;
        position: relative;
        padding: 0 0 42.25% 0;

        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 1080px) {
            padding: 0px 0 56.25% 0px;

            &:not(:last-child) {
                margin: 50px 0 0 0;

                @media (max-width: 767px) {
                    margin: 25px 0 0 0;
                }
            }
        }
    }

    &__content {
        flex: 1 1 auto;
        padding: 20px 0 0 120px;

        @media (max-width: 1080px) {
            padding: 0px 0 0 50px;
        }

        @media (max-width: 767px) {
            padding: 0px 0 0 0px;
        }
    }

    &__top {
        &:not(:last-child) {
            margin: 0 0 50px 0;

            @media (max-width: 767px) {
                margin: 0 0 25px 0;
            }
        }


    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 142%;
        letter-spacing: 0.2px;

        &:not(:last-child) {
            margin: 0 0 10px 0;
        }

        @media (max-width: 950px) {
            font-size: 24px;
        }
    }

    &__text {
        color: #737373;
        line-height: 142%;
    }

    &__items {}

    &__item {
        &:not(:last-child) {
            margin: 0 0 30px 0;
        }
    }
}

.item-whoweare {
    display: flex;

    &__icon {
        flex: 0 0 32px;
    }

    &__body {
        flex: 1 1 auto;
        padding: 0 0 0 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24 / 16 * 100%;

        &:not(:last-child) {
            margin: 0 0 5px 0;
        }
    }

    &__text {
        color: #737373;
        line-height: 142%;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 225px;
        overflow: hidden;
    }

}

//------------CLIENTS----------------------------------------------------------------//
.page__clients {}

.clients {
    padding: 50px 0;

    @media (max-width: 767px) {
        padding: 30px 0;
    }

    &__container {}

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__item {
        flex: 0 1 16.6667%;
        text-align: center;
        padding: 8px 15px;
        min-width: 150px;

        img {
            max-width: 100%;
        }
    }
}

//------------SUBSCRIBE----------------------------------------------------------------//
.page__subscribe {
    &:not(:last-child) {
        margin: 0 0 10px 0;
    }
}

.subscribe {
    position: relative;
    padding-bottom: 20px;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 77px;
        left: 0;
        background: #252B42;
    }

    &__container {}

    &__body {
        position: relative;
        z-index: 2;
        padding: 30px 50px;
        background-color: #17213C;
        border-radius: 2px;

        @media (min-width: 1070px) {
            margin: 0 30px;
        }

        @media (min-width: 810px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @media (max-width: 810px) {
            padding: 20px 25px;
            margin: 0 -15px;
        }
    }

    &__title {

        font-size: 24px;
        line-height: 133%;
        font-weight: 700;
        letter-spacing: 0.1px;
        color: #fff;

        @media (max-width: 810px) {
            margin: 0 0 20px 0;
        }

        @media (min-width: 810px) {
            max-width: 266px;
        }
    }

    &__form {
        flex: 0 1 50%;
        display: flex;
        align-items: center;
    }

    &__input {
        width: 100%;
        flex: 1 1 auto;
        min-height: 58px;
        padding: 0 20px;
        color: #737373;
        border-radius: 5px 0 0 5px;
        border: 1px solid #E6E6E6;
        background: #F9F9F9;
        background-color: #F9F9F9;
        border-right: 0;

        &:focus {
            color: black;
        }

        @media (max-width: 810px) {
            padding: 0 15px;
        }
    }

    &__button {
        background: #FF7B47;
        border: 1px solid #E6E6E6;
        border-radius: 0 5px 5px 0;
        display: flex;
        min-height: 58px;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        padding: 0 22px;
        transition: all 0.3s ease 0s;

        @media (max-width: 810px) {
            padding: 0 15px;
        }

        &:hover {
            background: #743820;
        }
    }
}

//------------GETINTOUCH----------------------------------------------------------------//
.page__getintouch {}

.getintouch {
    background-color: #F3F3F3;

    padding: 80px 0 136px 0;

    @media (max-width: 992px) {
        padding: 50px 0 50px 0;
    }

    &__container {}

    &__header {
        margin: 0 0 80px 0;

        @media (max-width: 992px) {
            margin: 0 0 50px 0;
        }

        @media (max-width: 767px) {
            margin: 0 0 30px 0;
        }
    }

    &__items {

        margin: 0 -15px;

        @media (min-width: 992px) {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }

    &__item {
        flex: 0 1 33.333%;
    }
}

.item-getintouch {

    &>*:not(:last-child) {
        margin: 0 0 15px 0;
    }

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 15px;

    &__icon {}

    &__emails {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    &__email {
        color: inherit;
        font-weight: 600;
        line-height: 150%;
        font-size: 16px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__label {
        font-size: 16px;
        line-height: 24/16*100%;
        font-weight: 700;
    }

    &__button {
        border-radius: 5px;
        border: 1px solid var(--primary-color, #FF7B47);
        min-height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FF7B47;
        line-height: 142%;
        padding: 5px 20px;
        font-weight: 600;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #fff;
            background-color: #FF7B47;
        }
    }

    &_active {
        background-color: #252B42;
        color: #fff;
        padding: 80px 15px;

        @media (max-width: 992px) {
            padding: 50px 15px;
        }

        & .item-getintouch__button {
            border: 1px solid var(--primary-color, #fff);
            color: #fff;
        }


    }
}

//------------CONTACT----------------------------------------------------------------//
.page__contact {}

.contact {
    padding: 42px 0;

    &__container {}

    &__body {


        @media (min-width: 767px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__content {
        padding: 0 0 20px 0;

        @media (min-width: 767px) {
            padding: 0 20px 0 0;
        }
    }

    &__title {
        font-weight: 700;
        letter-spacing: 0.1px;
        font-size: 24px;
        line-height: 133%;

        &:not(:last-child) {
            margin: 0 0 10px 0px;
        }
    }

    &__text {
        color: #737373;
        line-height: 142%;
    }

    &__button {
        display: flex;
        min-height: 58px;
        border-radius: 5px;
        background: #FF7B47;
        padding: 5px 40px;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        transition: background-color 0.3s ease 0s;

        &:hover {
            background-color: #743820;
        }
    }
}

//------------Футер----------------------------------------------------------------//
.footer {
    .footer__top {
        background-color: #17213C;
        padding: 35px 0;
    }

    .footer__main {}

    .footer__row {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
    }

    .footer__column {
        flex: 0 1 16.6667%;
        padding: 15px 15px;

        &:last-child {
            flex: 0 1 33.334%;

            @media (max-width: 992px) {
                flex: 0 1 100%;
            }
        }

        @media (max-width: 992px) {
            flex: 0 1 25%;
        }

        @media (max-width: 700px) {
            flex: 0 1 50%;
        }
    }

    .footer__label {
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        margin: 0 0 20px 0;
    }

    .footer__menu {}

    .footer__contacts {}



    .footer__bottom {
        padding: 25px 0;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    .footer__copy {
        color: #737373;
        line-height: 171%;

        @media (max-width: 767px) {
            margin: 0 0 15px 0;
            text-align: center;
        }
    }

    .footer__social {}
}

.menu-footer {
    .menu-footer__list {}

    .menu-footer__item {
        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    .menu-footer__link {
        color: #fff;
        letter-spacing: 0.2px;
        display: inline-block;
        line-height: 171%;

        &:hover {
            text-decoration: underline;
        }
    }
}


.contacts-footer {
    display: flex;
    flex-direction: column;


    .contacts-footer__item {
        align-items: center;
        display: flex;
        padding: 0 0 0 34px;
        min-height: 30px;
        line-height: 142%;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }

        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    .contacts-footer__item_phone {
        background: url(/img/footer/icons/bx_bx-phone.svg) 0 0 no-repeat;
    }

    .contacts-footer__item_map {
        background: url(/img/footer/icons/bx_bx-map.svg) 0 0 no-repeat;
    }

    .contacts-footer__item_email {
        background: url(/img/footer/icons/carbon_send-alt.svg) 0 0 no-repeat;
    }
}


.social {
    display: flex;
    align-items: center;

    .social__item {
        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
    }
}